body, html{
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: Arial, sans-serif;
    font-size: 80%;
    line-height: 1.2;
    color: #000;
    margin: 0;
}

.header{
	background-image:url('/images/top.png');
	height: 42px;
	width:1440px;
	position: fixed;
	z-index: 10001;
	top: 0px;
	left:0px;
	font-family: arial;
	font-size: 13px;
	box-shadow: 0px 0px 10px #333 ;

}

.wil{
	position: absolute;
	height: 40px;
	top: 0px;
	left:930px;
}

.wil1{
	position: absolute;
	top:0px;
	padding-top: 12px;
	padding-left: 10px;
	height: 30px;
	width: 120px;
	color: #D7D7D7;
	text-decoration: none;
	cursor: pointer;
	
}

a.wil1:hover {
	color:#0077b5;
	padding-left: 10px;

}

a.wil1:active {
	position: absolute;
	background-image:url('/images/top1.png');
	padding-left: 10px;
	top: 0px;
}

.jt{
	position: absolute;
	height: 40px;
	top: 0px;
	left:1055px;
}

.jt1{
	position: absolute;
	top:0px;
	padding-top: 12px;
	padding-left: 10px;
	height: 30px;
	width: 80px;
	color: #D7D7D7;
	text-decoration: none;
	cursor: pointer;
	
}

a.jt1:hover {
	color:#0077b5;
	padding-left: 10px;
}

a.jt1:active {
	position: absolute;
	background-image:url('/images/top1.png');
	padding-left: 10px;
	top: 0px;
}

.si{
	position: absolute;
	height: 40px;
	top: 0px;
	left:1140px;


}

.si1{
	position: absolute;
	top:0px;
	padding-top: 12px;
	padding-left: 10px;
	height: 30px;
	width: 50px;
	color: #D7D7D7;
	text-decoration: none;
	cursor: pointer;
	
}

a.si1:hover {
	color:#0077b5;
	padding-left: 10px;

}

a.si1:active {
	position: absolute;
	background-image:url('/images/top1.png');
	padding-left: 10px;
	top: 0px;
}

.logo{
	position: absolute;
	padding-left: 0px;
	top: 0px;
	left: 180px;
	padding-top: 10px;
	width: 100px
}

.logo1{
	padding-left: 10px;
}

a.logo1:active{
	top: 0px;
	height: 40px;
	padding-left: 10px;
	position: absolute;
	background-image:url('/images/top1.png');
}

#page-title{
	position: relative;
	top: 79px;
	left: 195px;
	display: block;
	font-size: 90%;
	font-family: inherit;
}

#page-title p{
	font-size: 13px;
	padding-top: 1;
	padding-bottom: 1;
}

.wrapper{
	width: 805px;
    height: 39px;
	left: 150px;
	top: 85px;
}

.email{
	width: 300px;
}

.wrapper1{
	height: 24px;
	width: 974px;
	margin-left: 150px;
	margin-top: 85px;
}

a {
	text-decoration: none;
	color: #069;
}

.Continue{
	width: 805px;
    height: 39px;
	left: 150px;
	top: 120px;
}

.Continue button{
	overflow: hidden;
	border-radius: 3px 3px 3px 3px;
	border-color: #045a8b;
	color: #fff;
	background: #045a8b;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #69a0b6), color-stop(5%, #69a0b6), color-stop(5%, #277696), color-stop(100%, #04608e));
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.35;
	margin: 0;
	overflow: visible;
	padding: 3px 10px 2px;
	text-decoration: none !important;
	vertical-align: top;
	width: auto;
}

.footer {
	font-size: 12px;
	line-height: 14px;
	color: #666;
	font-weight: normal;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 40px;
	margin-right: auto;
	width: 974px;
	height: 45px;
	border-top: 1px solid #ccc;
}

#footid{
	font-family: Arial;
	font-size: 13px;
	color: #666;
}

#f21.footer{
	height: 24px;
	width: 974px;
	left: 192px;
	position: absolute;
	top: 321px;
	color: #666;
	font-family: Arial;
	width: 115px;
	font-size: 13px;
	border-right:solid;
	border-right-color: #ccc;
	border-right-width: 1px;
}

.f22{
	position: absolute;
	left: 305px;
	top: 265px;
	width: 100px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
	text-decoration: none;
}

.f23{
	position: absolute;
	left: 420px;
	top: 265px;
	width: 90px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f24{
	position: absolute;
	left: 520px;
	top: 265px;
	width: 140px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f25{
	position: absolute;
	left: 680px;
	top: 265px;
	width: 90px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}
.f26{
	position: absolute;
	left: 730px;
	top: 1463px;
	width: 200px;
	
}
