.status{
	position: absolute;
	background-color: #f5f5f5;
	width: 646px;
	height: 144px;
	left: 200px;
	margin-top: 20px;
}

.newsfeed{
	position: relative;
	width: 646px;
	height: 100px;
	margin-top: 1px;
	background-color: white;
}

.abcd{
	position: absolute;
	top: 10px;
	font-size: 25px;
	left: 70px;
}

.abcde{
	position: absolute;
	top: 35px;
	left: 70px;
	font-size: 18px;
	height:auto;
}

.picture{
	position: absolute;
	height: 60px;
	width: 60px;
	margin-top: 10px;

}

.status-text{
	position: absolute;
	margin-left: 70px;
	margin-top: 10px;
	height: 63px;
	width: 531px;
}

.share{
	position: absolute;
	width: 65px;
	height: 35px;
	left: 549px;
	top: 90px;
}

.privacy{
	position: absolute;
	width: 457px;
	height: 31px;
	margin-left: 70px; 
	top: 96px;
}

.privacy1{
	width: 457px;
}

.bubble{
	position: absolute;
	background-color: white;
	width: 646px;
	height: 139px;
	left: 200px;
	margin-top: 154px;

}

.bubble1{
	position: absolute;
	background-color: white;
	width: 646px;
	height: 139px;
	margin-top: 139px;

}

.bubble li{

}

.feed{
	position: absolute;
	width: 646px;
	height: auto;
	top: 224px;
	left: 200px;
	margin-bottom: 50px;
}

.new-miniprofile-container{
	margin-left: 70px;
	margin-top: 50px;
	height: 63px;
	width: 531px;
	font-size: 25px;
	font-family: Arial, sans-Serif;
	font-weight: bold;
	cursor: move;
}

.commentary{
	margin-left: 70px;
	margin-top: 70px;
	height: 63px;
	width: 531px;
}

.footer{
	position: absolute;
	margin-top: 40px;
	left: 0px;
}

.f1{
	width: 85px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}
.hc{
	color: #0077B5;
	text-decoration: none;
	font-size: 13px;
	font-family: arial;
	font-weight: bold;
	
	
}

a.hc:hover{
	text-decoration: underline;
}

.f2{
	position: absolute;
	left: 95px;
	top:0px;
	width: 42px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.fl{
	color: #0077B5;
	text-decoration: none;
	font-size: 13px;
	font-family: arial;
}

a.fl:hover{
	text-decoration: underline;
}

.f3{
	position: absolute;
	left: 145px;
	top:0px;
	width: 42px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f4{
	position: absolute;
	left: 195px;
	top:0px;
	width: 35px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f5{
	position: absolute;
	left: 240px;
	top:0px;
	width: 50px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f6{
	position: absolute;
	left: 300px;
	top:0px;
	width: 70px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f7{
	position: absolute;
	left: 380px;
	top:0px;
	width: 100px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f8{
	position: absolute;
	left: 490px;
	top:0px;
	width: 40px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f9{
	position: absolute;
	left: 540px;
	top:0px;
	width: 50px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f10{
	position: absolute;
	left: 600px;
	top:0px;
	width: 70px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f11{
	position: absolute;
	left: 680px;
	top:0px;
	width: 70px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f12{
	position: absolute;
	left: 760px;
	top:0px;
	width: 65px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f13{
	position: absolute;
	left: 835px;
	top:0px;
	
}

.fl1{
	color: #0077B5;
	text-decoration: none;
	font-size: 13px;
	font-family: arial;
}

a.fl1:hover{
	text-decoration: underline;
}

.f14{
	position: absolute;
	left: 0px;
	top:25px;
	width: 105px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f15{
	position: absolute;
	left: 115px;
	top:25px;
	width: 125px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f16{
	position: absolute;
	left: 250px;
	top:25px;
	width: 85px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f17{
	position: absolute;
	left: 345px;
	top:25px;
	width: 90px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f18{
	position: absolute;
	left: 445px;
	top:25px;
	width: 120px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f19{
	position: absolute;
	left: 575px;
	top:25px;
	width: 105px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f20{
	position: absolute;
	left: 690px;
	top:25px;
	width: 200px;
	
}

.f21{
	position: absolute;;
	top:50px;
	color: #666;
	font-family: arial;
	width: 115px;
	font-size: 13px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f22{
	position: absolute;
	left: 125px;
	top:50px;
	width: 100px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f23{
	position: absolute;
	left: 235px;
	top:50px;
	width: 90px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f24{
	position: absolute;
	left: 335px;
	top:50px;
	width: 140px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}

.f25{
	position: absolute;
	left: 485px;
	top:50px;
	width: 90px;
	border-right: solid;
	border-right-color: #ccc;
	border-right-width: 1px; 
}
.f26{
	position: absolute;
	left: 585px;
	top:50px;
	width: 200px;
	
}
